mixin articleList(articles)
  each article in articles
    a(href=`/articles/${article.url_title}`)
      li.article #{article.title}

mixin productList(products)
  each product in products
    a(href=`/products/${product.id}`)
      li.product #{product.name}: $#{product.price} (#{product.inventory} in stock)